
:root {
    --borderColor: rgb(211,211,211);
}

body {
    background-color: rgb(237, 237, 237);
}

header {
    padding: 10px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 16px;
}

#squares {
    font-size: 16px;
}

#number {
    margin: 10px;
    width: 30%;
}

#container {
   
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 960px;
    display: grid;
    margin-top: 40px; 
    border-top: .5px solid var(--borderColor);
    border-left: .5px solid var(--borderColor);
    background: white;
}
.etchers {
    border-bottom: .5px solid var(--borderColor);
    border-right: .5px solid var(--borderColor);
}

.etchersHover {

    background-color: rgba(0, 0, 0, 0.5);    
}