
:root {
    --borderColor: rgb(211,211,211);
}

body {
    background-color: rgb(237, 237, 237);
}

header {
    padding: 10px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 16px;
}

#squares {
    font-size: 16px;
    margin-bottom: 10px;
}

#number {
    margin: 10px;
    width: 30%;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 960px;
    display: grid;
    margin-top: 40px; 
    border-top: .5px solid var(--borderColor); /*so that borders do not double up*/
    border-left: .5px solid var(--borderColor); /*so that borders do not double up*/
    background: white;
    box-shadow: 0 0 50px 10px grey;
}

.etchers {
    border-bottom: .5px solid var(--borderColor); /*so that borders do not double up*/
    border-right: .5px solid var(--borderColor);  /*so that borders do not double up*/
}

#black {
    color: white;
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

#red {
    color: white;
    background-color: red;
}
#blue {
    color: white;
    background-color: blue;
}

#green {
    color: white;
    background-color: green;
}

#aqua {
    background-color: aqua;
}

#purple {
    color: white;
    background-color: purple;
}
